@page "/favorites"
@attribute [StreamRendering]
@using Microsoft.Extensions.Localization
@using PCRadio.DataAccess.Interfaces
@using PCRadio.DataAccess.Models
@inject IStringLocalizer<Favorites> localizer
@inject IStations stations

<FluentLayout>
    <h1>@localizer["Header"] (@Count)</h1>
    <PCRadio.Components.Controls.StationList Count="@Count" PageSize="@PAGE_SIZE"
        Stations="@stations.GetFavorites(0,PAGE_SIZE).ToList()"
        GetStations="@((skip, take) => stations.GetFavorites(skip, take))" />
</FluentLayout>

@code
{
    private IEnumerable<Station>? _stations { get; set; }

    private const int PAGE_SIZE = 50;
    private int Count => stations.GetFavoritesCount();

}
