@page "/genre/{Id:int}"
@attribute [StreamRendering]
@using Microsoft.Extensions.Localization
@using PCRadio.DataAccess.Interfaces
@using PCRadio.DataAccess.Models
@inject IStringLocalizer<Genre> localizer
@inject IStations stations
@inject IGenres genres

<FluentLayout>
    <h1>@genres.GetById(Id)?.Name (@Count)</h1>
    <PCRadio.Components.Controls.StationList Count="@Count" PageSize="@PAGE_SIZE"
        Stations="@stations.GetByGenre(Id,0,PAGE_SIZE).ToList()"
        GetStations="@((skip, take) => stations.GetByGenre(Id, skip, take))" />
</FluentLayout>
@code
{
    [Parameter]
    public int Id { get; set; }
    private const int PAGE_SIZE = 50;
    private int Count => stations.GetByGenreCount(Id);
}
