@page "/settings"
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using _regular = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular
@using PCRadio.Services.Interfaces
@inject PCRadio.Services.Interfaces.IDbUpdateService dbUpdateService
@inject IOptions<AppSettings> options
@inject IStringLocalizer<Settings> localizer
@inject IAppStateService appStateService
@inject IToastService toastService

<FluentDesignTheme @bind-Mode="@Mode" @bind-OfficeColor="@OfficeColor" StorageName="theme" />

<div style="min-height: 250px;height: 100%;">
    <FluentGrid>
        <FluentGridItem lg="3">
            <FluentSelect Label="@localizer["Theme"]" Items="@(Enum.GetValues<DesignThemeModes>())"
                          @bind-SelectedOption="@Mode" />
        </FluentGridItem>

        <FluentGridItem lg="3">
            <FluentSelect Label="@localizer["Color"]"
                          Items="@(Enum.GetValues<OfficeColor>().Select(i => (OfficeColor?)i))"
                          @bind-SelectedOption="@OfficeColor">
                <OptionTemplate>
                    <FluentStack>
                        <FluentIcon Value="@(new Size20.RectangleLandscape())" Color="Color.Custom"
                                    CustomColor="@(@context.ToAttributeValue() != "default" ? context.ToAttributeValue() : "#036ac4")" />
                        <FluentLabel>@context</FluentLabel>
                    </FluentStack>
                </OptionTemplate>
            </FluentSelect>
        </FluentGridItem>

        <FluentGridItem lg="6"></FluentGridItem>

        <FluentGridItem lg="3">
            <FluentSelect Items="@(AppCultures.Cultures)" @bind-SelectedOption="@Language">
                <LabelTemplate>
                    <FluentStack Orientation="Orientation.Horizontal" Spacing="Spacing.Small">
                        <FluentLabel>@localizer["Language"]</FluentLabel>
                        <FluentLabel>*</FluentLabel>
                    </FluentStack>
                </LabelTemplate>
                <OptionTemplate>@context!.NativeName
                </OptionTemplate>
            </FluentSelect>
        </FluentGridItem>

        

        <FluentGridItem lg="3">
            <FluentSelect Items="@(Enum.GetValues<Quality>())" @bind-SelectedOption="@Quality">
                <LabelTemplate>
                    <FluentStack Orientation="Orientation.Horizontal" Spacing="Spacing.Small">
                        <FluentLabel>@localizer["Quality"]</FluentLabel>
                        <FluentLabel>*</FluentLabel>
                    </FluentStack>
                </LabelTemplate>
                <OptionTemplate>
                    @localizer[context.ToString()]
                </OptionTemplate>
            </FluentSelect>
        </FluentGridItem>

        <FluentGridItem lg="6"></FluentGridItem>


        <FluentGridItem lg="3">
            <FluentTextField @bind-Value="DownloadPath" Placeholder="@localizer["DownloadPathPlaceholder"]" style="width: 250px">
                <LabelTemplate>
                    <FluentStack Orientation="Orientation.Horizontal" Spacing="Spacing.Small">
                        <FluentLabel>@localizer["DownloadPath"]</FluentLabel>
                        <FluentLabel>*</FluentLabel>
                    </FluentStack>
                </LabelTemplate>
            </FluentTextField>
        </FluentGridItem>


        <FluentGridItem lg="3">
            <div style="width: 250px;height: 100%; display: flex; align-items: end;">
                <FluentButton OnClick="Update" Loading="@loading" IconStart="@(new _regular.Size16.ArrowClockwise())">
                    @localizer["DataBaseUpdate"]</FluentButton>
                </div>
            </FluentGridItem>

            <FluentGridItem lg="6"></FluentGridItem>

            <FluentGridItem lg="12">@localizer["LanguageAnnotation"]</FluentGridItem>

        </FluentGrid>
    </div>

@code
{
    private string _initialLang = string.Empty;
    private bool loading = false;
    private System.Globalization.CultureInfo? _language;
    public System.Globalization.CultureInfo? Language
    {
        get => _language;
        set
        {
            _language = value;
            if (value != null)
            {
                options.Value.DefaultLanguage = value.ToString();
                options.Value.NeedsDatabaseUpdate = options.Value.DefaultLanguage != _initialLang;
                options.Value.Save();
            }
        }
    }

    public string DownloadPath
    {
        get => options.Value.DownloadPath ?? Environment.GetFolderPath(Environment.SpecialFolder.MyMusic);
        set
        {
            options.Value.DownloadPath = value;
            if (!string.IsNullOrWhiteSpace(value) && Directory.Exists(value))
            {
                options.Value.Save();
            }
        }
    }

    public DesignThemeModes Mode { get; set; }
    public OfficeColor? OfficeColor { get; set; }
    public Quality Quality
    {
        get => options.Value.Quality;
        set
        {
            options.Value.Quality = value;
            options.Value.Save();
        }
    }

    protected override void OnInitialized()
    {
        _initialLang = options.Value.DefaultLanguage ?? string.Empty;
        if (!string.IsNullOrEmpty(options.Value.DefaultLanguage) &&
        AppCultures.Cultures.Select(x => x.ToString()).Contains(options.Value.DefaultLanguage))
        {
            Language = AppCultures.Cultures.First(x => x.TextInfo.CultureName == options.Value.DefaultLanguage);
        }
        else
        {
            Language = AppCultures.DefaultCulture;
        }

        Quality = options.Value.Quality;
        appStateService.Title = localizer["Header"];
    }

    private async Task Update()
    {
        loading = true;
        if (await dbUpdateService.UpdateDatabaseAsync())
        {
            toastService.ShowSuccess(localizer["DataBaseUpdateSuccess"]);
        }
        else
        {
            toastService.ShowError(localizer["DataBaseUpdateFailed"]);
        }

        loading = false;
    }

}